@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


#heading {
    width: fit-content;
    height: 100%;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #fff, transparent);
    z-index: 1;
}

.section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.section img#man {
    transform-origin: bottom;
}


#text {
    position: absolute;
    color: #fff;
    font-size: 9vw;
    left: 12%;
    /* filter: blur(10px); */
    z-index: 0;
}


#text::after {
    content: "INDIAN HERITAGE";
    position: absolute;
    font-size: 9vw;
    width: 100%;
    left: 5px;
    top: -5px;
    color: rgb(22, 22, 22);
    filter: blur(5px);
    z-index: -1;
}

.sec {
    position: relative;
    padding: 100px;
}

.sec h2 {
    font-size: 5em;
    margin-bottom: 10px;
    color: cornflowerblue;
}

.sec p {
    font-size: 2em;
    color: cornflowerblue;
}

#man {
    width: 35%;
    left: 33%;
    top: 20px;
}

#mountain_left {
    /* top: ;  */
    width: 50%;
}

/* #mountain_right {
    top: ; 
    /* width: 80%; 
} */

#text {
    top: -2px;
}

#para {
    text-align: justify;
}

.arrow {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    bottom: 10px;
    left: 51%;
    color: black;
    /* filter: drop-shadow(2px 2px 2px); */
    z-index: 3 !important;
}


@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
	animation: scroll ease 1.5s infinite;
}